<div class="container mt-3">
  <h1 class="mt-2 text-center">Create Training Plan</h1>
  
  <div class="form-group">
    <label for="clienteDropdown">Select Client:</label>
    <select class="form-control" id="clienteDropdown" [(ngModel)]="trainingPlan.client.id">
      <option *ngFor="let client of clients" [ngValue]="client.id">{{ client.firstName }}</option>
    </select>
    
  </div>

  <div class="form-row">
    <div class="col-6 mt-3">
      <label for="fechaInicio">Start Date:</label>
      <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="trainingPlan.startDate">
    </div>
    <div class="col-6 mt-3">
      <label for="fechaFin">End Date:</label>
      <input type="date" class="form-control" id="fechaFin" [(ngModel)]="trainingPlan.endDate">
    </div>
  </div>
  <div id="rutinaGrid" class="mt-3">
    <label>Exercises:</label>
    <div id="criterias" class="row mb-3" *ngFor="let line of lines; let i = index">
      <div class="col-4">
        <select class="form-control" [(ngModel)]="line.exerciseId">
          <option *ngFor="let exercise of exercises" [value]="exercise.id">{{ exercise.name }}</option>
        </select>
      </div>
      <div class="col-4">
        <input type="number" class="form-control" [(ngModel)]="line.reps" placeholder="Repetitions">
      </div>
      <div class="col-4">
        <input type="number" class="form-control" [(ngModel)]="line.series" placeholder="Series">
      </div>
    </div>
    <button class="btn btn-primary me-3 " type="button" (click)="addLine()">Add Exercise</button>
    <button *ngIf="!isUpdating" class="btn btn-primary" type="button" (click)="formSubmit()">Create Training Plan and Exercises</button>
    <button *ngIf="isUpdating" class="btn btn-warning" type="button" (click)="updateTrainingPlan()">Update Training Plan and Exercises</button>
    <button class="btn btn-primary ms-3 " type="button" (click)="resetForm()">Cancel</button>
  <div>
    <button class="btn btn-info mt-3" (click)="loadTrainerPlans()">{{ showTrainerPlans ? 'Hide' : 'Load' }} Trainer's Training Plans</button>    
    <div *ngIf="showTrainerPlans">
      <div *ngFor="let clientGroup of clientsWithPlans">
        <h3 class="mt-3">{{ clientGroup.clientName }}</h3>
        <ul class="list-group">
          <li class="list-group-item mb-1"  *ngFor="let plan of clientGroup.plans" (click)="selectPlanForEdit(plan)">
            Plan ID: {{ plan.trainingPlan_id }} - Start Date: {{ plan.startDate }} - End Date: {{ plan.endDate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
