<div class="container mt-3">
  <h2>BMI Calculator</h2>

  <div class="mb-3">
    <label for="weight" class="form-label">Weight (in kilograms)</label>
    <input type="number" class="form-control" id="weight" [(ngModel)]="peso" placeholder="Enter your weight">
  </div>

  <div class="mb-3">
    <label for="height" class="form-label">Height (in meters)</label>
    <input type="number" class="form-control" id="height" [(ngModel)]="altura" placeholder="Enter your height (0.00)">
  </div>

  <div class="mb-3">
    <button class="btn btn-primary" (click)="calcularIMC()">Calculate BMI</button>
  </div>

  <div *ngIf="imc">
    <p>Your BMI is: {{ imc | number: '1.1-2' }}</p>
    <p>Classification: {{ clasificarIMC }}</p>
  </div>
</div>


