<div class="container my-5" id="About">
    <div class="row d-flex justify-content-center ">
      <div class="col-lg-9 bg-light bg-opacity-10 rounded-5 px-5 py-3 ">
        <h2 class="text-center text-white mb-4">About Us</h2>
        <p class="text-white fs-5">
            Gym X is more than just a gym; it's a community dedicated to improving the health, strength, and well-being of our members. Since we were founded, our gym has been at the forefront of fitness innovation, offering personalized programs and cutting-edge technology for progress tracking.
          </p>
          <p class="text-white fs-5">
            Our trainers are certified professionals and passionate about what they do, committed to creating a motivating and supportive environment. We take pride in offering a space where every member can work towards their fitness goals, regardless of their current fitness level.
          </p>
          <p class="text-white fs-5">
            At Gym X, we believe that fitness is a personal journey, but you don't have to do it alone. Come and discover how we can help you achieve your health and fitness goals.
          </p>                  
      </div>
    </div>
  </div>
  